.gradle/
build/
run/
.idea/
.vscode/
*.iml
bin/
logs/
crash-reports/
gradle-8.8/
gradle-8.8-bin.zip
temp_tectonic_extract/

# Local temp/caches
_restore_tmp/
.gradle_user_home_1_21_2/


# Local media (don’t commit)
Gallery for Modrinth/
*.mp4

